* linguist-vendored
*.php linguist-vendored=false
*.sql linguist-vendored=false
*.js linguist-vendored=false
views/admin/fixed/footer.php linguist-vendored
views/admin/fixed/forbidden.php linguist-vendored
views/admin/partials/modal-insert-brand.php linguist-vendored
views/admin/partials/modal-insert-user.php linguist-vendored
views/admin/partials/modal-update.php linguist-vendored
views/app/fixed/head/homeJs.php linguist-vendored
views/app/fixed/head/singleJs.php linguist-vendored
views/app/fixed/head/storeJs.php linguist-vendored
views/app/pages/about.php linguist-vendored
views/app/pages/contact.php linguist-vendored
views/app/pages/login.php linguist-vendored
views/app/pages/profile.php linguist-vendored
views/app/pages/register.php linguist-vendored
views/app/partials/slider.php linguist-vendored
